
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Recipes Engine</h1>
        <p class="lead text-muted">you can filter by fast cook time .</p>

      </div>
    </div>
  </section>

