<%= render "header" %>
<from class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label count <%= @recipes.count %></label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</from>
<%= render "recipes" , recipes: @recipes %>
<%== pagy_bootstrap_nav(@pagy) %>
